<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356163565469-dcuqo9mquehlj9l8lam0todsolp7pti9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356163565469-dcuqo9mquehlj9l8lam0todsolp7pti9</string>
	<key>API_KEY</key>
	<string>AIzaSyCtMLS3oj0ebTlEw_RplPnPayK5MeNB4fI</string>
	<key>GCM_SENDER_ID</key>
	<string>356163565469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SasanBaho.Todo-list</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-5c58a</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-5c58a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356163565469:ios:5c61b8f7f9d67cc0ea2174</string>
</dict>
</plist>